<table  id="main_frame" rules="all" width=100% >
    
    <tr id="reading_tr">
        <th colspan=2 style="text-align:center">
            
  <div id="reading">
                {{Answer}}
           </div>

            <div id="reading">
               Definitions: {{def}}
            </div>

    <div id="reading">
                PoS: {{pos}}
            </div>

  <div id="reading">
       Forms: {{other forms}}
           </div>


            {{#note}}
            <div style='font-size: 20px'>
                {{note}} <br>
            </div>
            {{/note}}

    </th>

</table>